@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* letters */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}
/* end of letters */

/* poem/verse/song */
[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br{
	display: none;
}

[epub|type~="z3998:song"] p + p{
	margin-top: 1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}
/* end of poem/verse/song */

/* custom */
section[id^="dedication-"] header {
	font-style: italic;
	margin-bottom: 1em;
}

#a-bachelors-establishment blockquote header{
	font-style: italic;
	text-align: right;
}
/* end of custom */